.navbar {
    display: flex;
    justify-content: center; /* Centraliza os itens da navbar */
    align-items: center; /* Alinha verticalmente */
    background-color: #123163;
    padding: 10px;
    width: 100%;
}

.navbar ul {
    display: flex;
    list-style: none; /* Remove marcadores da lista */
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 50px; /* Espaçamento entre os botões */
}

.navButton {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.navButton:hover {
    background-color: #009739;
    color: white;
}